<ion-header>
  <ion-toolbar>
    <ion-title>Add New Shehada</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" (click)="onClose()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
  <ion-col size="12">
    <form class="ion-text-center" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <ion-item>
        <ion-label position="fixed">Money</ion-label>
        <ion-input ngModel required name="money" type="number" placeholder="Ex: 10000" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Profit in %</ion-label>
        <ion-input ngModel required name="profit" type="number" placeholder="Ex: 15"></ion-input>
      </ion-item>

      
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select ngModel required require name="type" interface="popover" placeholder="Select One">
          <ion-select-option value="1">1 Month</ion-select-option>
          <ion-select-option value="3">3 Month</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>Owner</ion-label>
        <ion-select ngModel require name="owner" interface="popover" placeholder="Select One">
          <ion-select-option value="me">Me</ion-select-option>
          <ion-select-option value="sherif">Sherif</ion-select-option>
          <ion-select-option value="children">Children</ion-select-option>
          <ion-select-option value="teta">Teta</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label color="success">Start Date</ion-label>
        <ion-datetime required class="successStyle" [ngModel]="" name="startDate" placeholder="Click to select date" max="2100" displayFormat="YYYY-MM-DD"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label color="danger">End Date</ion-label>
        <ion-datetime required class="dangerStyle" [ngModel]="" name="endDate" placeholder="Click to select date" [min]="initStartDate" max="2100" displayFormat="YYYY-MM-DD" ></ion-datetime>
      </ion-item>
      
      <ion-button class="ion-margin" color="success" type="submit" [disabled]="form.invalid">
        Add
      </ion-button>
    </form>
    
  </ion-col>
</ion-row>
</ion-content>
