<ion-header>
  <ion-toolbar>
    <ion-title>{{shehada?.money |number}}EGP - {{shehada?.startDate | date:'d/M/yyyy' }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home" (click)="onClose()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/flos.jpg" />

    <ion-card-header>
      <ion-card-subtitle>Type: {{shehada?.type}} Month</ion-card-subtitle>
      <ion-card-title>Total: {{shehada?.money|number}} EGP</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon color="success" name="battery-full-outline" slot="start"></ion-icon>
      <ion-label color="success">{{shehada?.startDate|date:'d/M/yyyy'}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon color="danger" name="battery-dead-outline" slot="start"></ion-icon>
      <ion-label color="danger">{{shehada?.endDate|date:'d/M/yyyy'}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-label>{{shehada?.profit}} %</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>{{shehada?.owner}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>{{ ((shehada?.money * (shehada?.profit/100) ) /12).toFixed(2)|number}} / 1 month</ion-label>
      <ion-label>{{ ((shehada?.money * (shehada?.profit/100) ) /4).toFixed(2) |number}} / 3 month</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon [color]="getLeftDaysColor(getLeftDays(shehada?.endDate))" name="calendar-outline" slot="start">
      </ion-icon>
      <ion-label [color]="getLeftDaysColor(getLeftDays(shehada?.endDate))">
        {{getLeftDays(shehada?.endDate)}} Days Left
      </ion-label>
    </ion-item>

  </ion-card>
</ion-content>