<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-row>
    <ion-col size="8" offset="2">
      <ion-avatar>
        <img src="assets/images/devPic.jpeg">
      </ion-avatar>
    </ion-col>
    <ion-col class="ion-text-center" size="8" offset="2">
        <ion-text color="primary">
          <h1>Hossam Sherif</h1>
        </ion-text>
        <ion-text color="primary">
          <h5>Angular Developer</h5>
        </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
